.card {
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  position: relative;

  transition: all 0.3s ease-in-out;

  @media screen and (max-width: 500px) {
    width: 65%;
    margin: 0 auto;
  }

  &:hover {
    transform: scale(1.05);
    transition-duration: 200ms;
  }

  .sub_card {
    position: absolute;
    border-radius: 10px;
    min-height: 270px;
    padding: 15px;
    width: 100%;
    margin-top: 100px;
    padding-top: 15px;
    border: 1px solid #42424242;
    box-shadow: 2px 2px 10px -4px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 0px hsl(0, 0%, 40%), 2px 2px 0px hsl(0, 0%, 39%),
      3px 3px 0px hsl(0, 0%, 38%), 4px 4px 0px hsl(0, 0%, 37%),
      5px 5px 0px hsl(0, 0%, 36%);
  }

  .div_id {
    display: flex;

    .id_card {
      background-color: white;
      border: 1px solid #424242dd;
      width: auto;
      padding: 1px 4px;
      font-size: 0.85rem;
      border-radius: 5px;
      display: inline-block;
    }
  }

  .div_name {
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center;

    .name_card {
      font-size: 1.2rem;
      text-transform: capitalize;
      display: block;
      font-weight: 900;
      -webkit-text-stroke: 0.4px #ffffff9e;
      -webkit-text-fill-color: #000;
    }
  }

  .div_img {
    display: flex;
    justify-content: center;

    .img_poke {
      width: 160px;
      margin: auto;
      place-items: center;
    }
  }
}
