body {
  background-color: #d4cfcf;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;

  .card {
    width: 50%;
    margin: 0 auto;
    height: 490px;
    display: flex;
    flex-direction: column;
    position: relative;

    transition: all 0.3s ease-in-out;

    @media screen and (max-width: 500px) {
      width: 75%;
      margin: 0 auto;
    }

    .img_poke {
      width: 160px;
      margin: 0 auto;
      z-index: 20;
      transition: all 0.3s ease-in-out;
    }

    .sub_card {
      position: absolute;
      border-radius: 10px;
      min-height: 370px;
      padding: 15px;
      width: 100%;
      margin-top: 100px;
      padding-top: 15px;
      border: 1px solid #42424242;
      box-shadow: 2px 2px 10px -4px rgba(0, 0, 0, 0.25);
      box-shadow: 1px 1px 0px hsl(0, 0%, 40%), 2px 2px 0px hsl(0, 0%, 39%),
        3px 3px 0px hsl(0, 0%, 38%), 4px 4px 0px hsl(0, 0%, 37%),
        5px 5px 0px hsl(0, 0%, 36%);
    }

    .id_card {
      background-color: white;
      border: 1px solid #424242dd;
      width: auto;
      padding: 1px 4px;
      font-size: 0.85rem;
      border-radius: 5px;
      display: inline-block;
    }
    .name_card {
      margin-top: 8px;
      font-size: 1.2rem;
      text-transform: capitalize;
      display: block;
      font-weight: 900;
      -webkit-text-stroke: 0.4px #ffffff9e;
      -webkit-text-fill-color: #000;
    }
    .altura_poke {
      margin-top: 2px;
      font-size: 0.75rem;
      text-transform: capitalize;
      display: block;
      color: #484848;
    }
    .peso_poke {
      margin-top: 2px;
      font-size: 0.75rem;
      text-transform: capitalize;
      display: block;
      color: #484848;
    }
    .habitat_poke {
      margin-top: 2px;
      font-size: 0.75rem;
      text-transform: capitalize;
      display: block;
      color: #484848;
    }
    .description_poke {
      margin-top: 2px;
      font-size: 0.75rem;
      display: block;
      color: #484848;
    }
    .div_stats {
      margin: 4px 0;
      width: 100%;
      padding: 5px;

      .item_stats {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .name {
          width: 90px;
          text-transform: capitalize;
          color: #484848;
        }
        .numero {
          width: 22px;
          text-align: end;
          color: #484848;
        }
      }
    }
    .div_type_color {
      display: flex;
      justify-content: space-between;
      margin: 6px 0;

      .color_type {
        border: 1px solid #42424242;
        border-radius: 4px;
        text-align: center;
        height: 20px;
        line-height: 17px;
        width: 50px;
        color: white;
      }
    }

    .div_evolucion {
      display: flex;
      align-items: center;
      justify-content: center;

      .item_evo {
        > img {
          width: 80px;
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: scale(1.4);
            transition-duration: 200ms;
            z-index: 56;
          }
        }
        > h6 {
          text-align: center;
          text-transform: capitalize;
        }
      }
    }
  }
  .div_return {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .button_return {
      display: flex;
      font-size: medium;
      margin: auto;
      z-index: 100;
      border: 1px solid #42424242;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #f5f5f5;
        border: 1px solid #42424242;
        box-shadow: 1px 1px 0px hsl(0, 0%, 40%), 2px 2px 0px hsl(0, 0%, 39%),
          3px 3px 0px hsl(0, 0%, 38%);
      }
    }
  }
}
